@import url(../public/fonts/index.css);

/* scrollbar */
@import 'simplebar-react/dist/simplebar.min.css';

/* lazy image */
@import 'react-lazy-load-image-component/src/effects/blur.css';

/* map */
@import 'mapbox-gl/dist/mapbox-gl.css';

/* editor */
@import 'react-quill/dist/quill.snow.css';

/* carousel */
@import 'slick-carousel/slick/slick.css';
@import 'slick-carousel/slick/slick-theme.css';

.slick-slider {
    height: 100%;
}

.slick-slider .slick-list {
    height: 100%;
}

.slick-slider .slick-list .slick-track {
    display: flex;
    align-items: stretch;
    height: 100%;
}

.slick-slider .slick-list .slick-track .slick-slide {
    height: unset;
}

.slick-slider .slick-list .slick-track .slick-slide>div {
    height: 100%;
}

@import 'react-responsive-carousel/lib/styles/carousel.min.css';

.carousel-root {
    width: 100%;
}

/* lightbox */
@import 'yet-another-react-lightbox/styles.css';
@import 'yet-another-react-lightbox/plugins/captions.css';
@import 'yet-another-react-lightbox/plugins/thumbnails.css';

* {
    scrollbar-width: thin;
    scrollbar-color: transparent transparent;
    scrollbar-track-color: transparent !important;
}

*:hover {
    scrollbar-color: #919EAB22 transparent;
    scrollbar-track-color: #919EAB22;
}